<div style="height: 100px">
</div>
<table class="uk-table-striped uk-width uk-border">
  <thead>
  <tr>
    <th class="uk-text-right" style="width: 5em">Id</th>
    <th class="uk-text-center" style="width: 40em">Nazwa</th>
    <th class="uk-text-center" style="width: 10em">Cena</th>
    <th class="uk-text-center" style="width: 15em">Kelner</th>
    <th class="uk-text-center" style="width: 15em">Godzina przyjęcia</th>
    <th class="uk-text-center" style="width: 15em">Akcja</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders" style="counter-increment: rowNumber">
    <td class="uk-text-right" scope="row"></td>
    <td class="uk-text-center">{{order.menu.name}}</td>
    <td class="uk-text-center">{{order.menu.price}}</td>
    <td class="uk-text-center">{{order.user.username}}</td>
    <td class="uk-text-center">{{order.creationTime}}</td>
    <td>
      <button (click)="changeStatus(this.order.id)" class="uk-button-primary uk-button uk-button-small uk-border-rounded uk-width">Gotowe</button>
    </td>
  </tr>
  </tbody>
</table>
<div style="height: 100px"></div>
