<div style="height: 100px">
</div>
<table class="uk-table-striped uk-width">
  <thead>
  <tr>
    <th>Nowe Hasło</th>
    <th>Akcja</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><input [(ngModel)]="user.password" class="uk-input uk-border-rounded uk-margin" type="text"></td>
    <td><div (click)="changePassword()" class="uk-button-primary uk-button uk-button-small uk-border-rounded uk-align-center">Zatwierdź</div></td>
  </tr>
  </tbody>
</table>
<div div class="uk-card-footer uk-position-bottom uk-background-muted" style="height: 50px">
</div>
