<header class="uk-heading-small uk-text">Przyjęte zamówienia</header>
<table class="uk-table-striped uk-width uk-border">
  <thead>
  <tr>
    <th class="uk-text-right">Id</th>
    <th class="uk-text-center">Nazwa</th>
    <th class="uk-text-center">Cena</th>
    <th class="uk-text-center">Status</th>
    <th class="uk-text-center">Data przyjęcia</th>
    <th class="uk-text-center">Akcja</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders" style="counter-increment: rowNumber">
    <td class="uk-text-right" scope="row"></td>
    <td class="uk-text-center">{{order.menu.name}}</td>
    <td class="uk-text-center">{{order.menu.price}}</td>
    <td *ngIf="order.status === 'KITCHEN' || order.status === 'RELEASED' " class="uk-text-center">{{order.status}}</td>
    <td *ngIf="order.status === 'READY'" class="uk-text-center uk-alert-danger">{{order.status}}</td>
    <td class="uk-text-center">{{order.creationDateTime | date: 'yyyy-MM-dd ---- HH:mm'}}</td>
    <td>
      <div *ngIf="order.status === 'KITCHEN'" class="uk-button-default uk-disabled uk-button uk-button-small uk-border-rounded uk-width">W toku</div>
      <button (click)="setOrderStatusAsReleased(order.id)" *ngIf="order.status === 'READY' || order.status === 'READY'" class="uk-button-primary uk-button uk-button-small uk-border-rounded uk-width">Zmień status</button>
    </td>
  </tr>
  </tbody>
</table>
<div class="uk-background-default" style="height: 80px">
</div>
